h1 {
  text-align: left;
  color: #535353;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left: 30px;

}

h2 {
  font-size: 20px;
  color: #febc11;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
  padding-top:30px;
  padding-bottom:10px;
  text-align: center;
}



/* 
************************************************************************************
Navigation Bar
************************************************************************************
*/
#navBar{
  position: sticky;
  top: 0;
  z-index:10;
}

.navbar-brand h1 {
  height: 40px;
  padding-top: 4px;
  padding-left: 30px;
  padding-bottom: 20px;
  color: #535353;
  font-family: 'Josefin Sans', sans-serif;
}

.navbar-nag li{
  padding: 0 30px;
}

.navbar-nag li a {
  float: right;
  text-align: left;
}

#navBar ul li a {
  color:white;
  /* change color later */
}

/* hover color, change to match aesthetic */
#navBar ul li a:hover {
  color:#535353;
  /* change color later */
}

/* background color of nav bar, change later */
.navbar {
  background: #febc11;
}

.navbar-toggler {
  border: none;
}

.nav-link {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif; 
}

/* 
************************************************************************************
ABOUT ME
************************************************************************************
*/

#aboutMe {
  background-color: #ffebb9;
}

#aboutMe h3 {
  color:black;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  display: block;
}

#aboutMe img{
  width: 100%;
  max-width: 30%;
  padding: 30px;
  float: left;
  height: auto;
  vertical-align: middle;
}

#aboutMe a {
  color:#febc11;
}

/* 
************************************************************************************
Connect With Me
************************************************************************************
*/
#connect{
  background-color:#ffebb9;
}
.contact-info {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.contactBox {
  padding: 20px;
  border-radius: 10%;
  width: 50%;
  display: inline-block;
}
.card-icon {
  color: #febc11;
}
.card-icon:hover {
  color: #535353;
}
.contact-info .caption {
  display: block;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

/* 
************************************************************************************
Resume
************************************************************************************
*/

#resume {
  background-color:#ffebb9;
}


