html {
  scroll-behavior: smooth;
}

#pageContent {
  background-color:#ffffff;
}
h2 {
  font-size: 30px;
  color: #914747;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top:30px;
}

/* 
************************************************************************************
Navigation Bar
************************************************************************************
*/
#navBar{
  position: sticky;
  top: 0;
  z-index:10;
}

.navbar-brand h1 {
  height: 30px;
  padding-top: 4px;
  padding-left: 30px;
  padding-bottom: 10px;
  font-size: 25px;
  color: #914747;
  font-family: 'Roboto', sans-serif;
}

.navbar-nag li{
  padding: 0 30px;
}

.navbar-nag li a {
  float: right;
  text-align: left;
}

#navBar ul li a {
  color: #914747;
  font-family: 'Roboto', sans-serif;
  /* change color later */
}

#navBar ul li a:hover {
  color:#d99e3a;
}

.navbar {
  background: #ffffff;
}

.navbar-toggler {
  border: none;
}

.nav-link {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif; 
  text-align: center;
}

/* 
************************************************************************************
ABOUT ME
************************************************************************************
*/

#aboutMe h3 {
  color:black;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  display: block;
  padding: 30px;
  text-align:center;
}

#aboutMe img{
  width: 100%;
  padding: 30px;
  float: left;
  height: auto;
  vertical-align: middle;
}

#aboutMe a {
  color:#914747;
}

#aboutMe a:hover {
  color:#d99e3a;
}




/* 
************************************************************************************
Connect With Me
************************************************************************************
*/

#connect {
  padding-top:30px;
}
.contact-info {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.contactBox {
  padding: 20px;
  border-radius: 10%;
  width: 50%;
  display: inline-block;
}
.card-icon {
  color: #914747;
}
.card-icon:hover {
  color: #d99e3a;
}
.contact-info .caption {
  display: block;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

/* 
************************************************************************************
Resume
************************************************************************************
*/

.resumeSection {
  padding: 30px; 
}

.resBut {
  text-align:center;
}

.resumeSection {
  font-family: 'Montserrat', sans-serif;
}